#main_menu.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{:class => "navbar-brand #{'color_menu' if controller_name == 'workspaces'}", :href=> '#'}
        JustCRM
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{:class=>"#{'active' if controller_name == 'people'}"}
          %a#to_people.collapsed{:href => '#'}
            People

        %li{:class=>"#{'active' if controller_name == 'companies'}"}
          %a#to_companies.collapsed{:href => '#'}
            Companies

        %li.dropdown
          %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
            Actions
            %b.caret
          
          %ul.dropdown-menu
            %li
              %a#add_person.collapsed{:href => '#'}
                Add Person

            %li
              %a#add_company.collapsed{:href => '#'}
                Add Company

        %li.nav-divider

        %li
          %a.show_tags.collapsed{:href => '#'}
            Tags

        %li.nav-divider

        - if user_signed_in?
          %li
            = link_to "#{current_user.email}"
          %li
            = link_to "Logout", destroy_user_session_path, method: :delete

        - else
          %li
            = link_to "Login", new_user_session_path 
          %li
            = link_to "SignUp", new_user_registration_path
