= bootstrap_form_for @company do |f|
  - if @company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg

  .field{:class=>"form_field form-group"}
    Avatar picture:
    = @company.ava if @company.ava?
    = f.file_field :ava, :class=>"ava_loader", :label=>"Avatar"
  .field{:class=>"form_field form-group"}
    = f.text_field :name, :id=>"company_name"
  .field{:class=>"form_field form-group"}
    = f.text_area :about, :id=>"company_about"
  .field{:class=>"form_field form-group"}
    = f.collection_select :user_id, User.active, :id, :name, :label=>"Curator"
  .field{:class=>"form_field form-group"}
    = f.text_field :phone, :id=>"company_phone"
  .field{:class=>"form_field form-group"}
    = f.text_field :web, :id=>"company_web"
  .field{:class=>"form_field form-group"}
    = f.text_field :group_list, :label=>"List All Tags, separate each tag by a comma", :value => @company.group_list.join(", "), :id=>"company_tags"

  .actions
    = f.submit 'Save', :class=>"form_accept_button btn btn-success"
