%h1 Listing companies
- if params[:tag]
  %h4 
    = "By tag: " << params[:tag]

- @companies.each do |company|
  = render company

%p{:class=>'clearfix'}
  = paginate @companies

- content_for :sidebar do
  = render partial: '/shared/search_form', path: companies_path
  %h4 Add:
  = render partial: '/shared/new_menu'
  %h4 Select:
  = link_to 'Removed', removed_companies_path
  %h4 Tags:
  = tag_cloud_maker (@tags) { |t| company_tag_path(t)}