= bootstrap_form_for @opportunity do |f|
  - if @opportunity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@opportunity.errors.count, "error")} prohibited this opportunity from being saved:"
      %ul
        - @opportunity.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :title
  .field
    .form-group
      = f.label :company_id, class: 'control-label'
      = render partial: "shared/look_up", locals: {look_up_id: 'opportunity_company_look_up', field: f, field_name: :company_id, default_value: not_null_property(@opportunity.company, :name)}

  .field
    .form-group
      = f.label :person_id, class: 'control-label'
      = render partial: "shared/look_up", locals: {look_up_id: 'opportunity_person_look_up', field: f, field_name: :person_id, default_value: not_null_property(@opportunity.person, :name)}

  .field
    = f.text_field :amount
    
  .field
    = f.date_select :start
  .field
    = f.date_select :finish
  .field
    = f.text_area :description
  .field
    = f.collection_select :user_id, User.active, :id, :name, :label=>"Curator"

  .actions
    = f.submit 'Save', :class=>"form_accept_button btn btn-success"
