= bootstrap_form_for @appointment do |f|
  - if @appointment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@appointment.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @appointment.errors.full_messages.each do |msg|
          %li= msg

  .field{:class=>"form_field form-group"}
    = f.collection_select :communication_type, Appointment.communication_types, :index, :value, :label => "Type"
  .field{:class=>"form_field form-group"}
    = f.datetime_select :when

  .field
    .form-group
      = f.label :company_id, class: 'control-label'
      = render partial: "shared/look_up", locals: {look_up_id: 'appointment_company_look_up', field: f, field_name: :company_id, default_value: not_null_property(@appointment.company, :name)}

  .field
    .form-group
      = f.label :person_id, class: 'control-label'
      = render partial: "shared/look_up", locals: {look_up_id: 'appointment_person_look_up', field: f, field_name: :person_id, default_value: not_null_property(@appointment.person, :name)}

  .field{:class=>"form_field form-group"}
    = f.collection_select :opportunity_id, Opportunity.all, :id, :title
  .field{:class=>"form_field form-group"}
    = f.collection_select :user_id, User.active, :id, :name, :label=>"Curator"
  .field{:class=>"form_field form-group"}
    = f.text_area :body, :label => 'About', :id => 'appointment_body'
  - if @parent_company
    = hidden_field_tag :company_parent_id, @parent_company.id
  - if @parent_person
    = hidden_field_tag :person_parent_id, @parent_person.id
  - if @parent_opportunity
    = hidden_field_tag :opportunity_parent_id, @parent_opportunity.id

  .actions
    = f.submit 'Save', :class=>"form_accept_button btn btn-success"
