- @is_list = nil if not (defined? @is_list)

<!DOCTYPE html>
%html
  %head
    = render partial: '/shared/header'
  %body
    = render partial: '/shared/menu'

    %div{:class=>"main-form container-fluid"}
      %div{:class=>"row"}
        %div{:class=>"#{'content' if @is_list} col-sm-7"}
          %p#notice= notice
          = yield
        %div{:class=>"sidebar col-sm-3"}
          = yield(:sidebar)
    = render partial: '/shared/footer'