<!DOCTYPE html>
%html
  %head
    %title
      JustCrm mobile
    = stylesheet_link_tag 'application', 'mobile', media: 'all', 'data-turbolinks-track' => true
    = requirejs_include_tag "justcrm"    

    = csrf_meta_tags
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1"}
    %meta{:name=>"rails_mode", :content=>"#{Rails.env}"}
  %body
    = yield
 
